* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    }
    
    html {
    color:#000;
    font-family:Lato, Arial, sans-serif;
    font-weight:300;
    font-size:100%;
    text-rendering:optimizeLegibility;
    background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(img/background.jpg);
    background-size:cover;
    }
    
    #main {
    width:30%;
    height:90%;
    border:1px solid #1e1e1e;
    background:#fce2e2;
    box-shadow:10px 12px .5rem rgba(0,0,0,0.5);
    border-radius:25px;
    margin:10% auto 0;
    padding:5% 0;
    }
    
    input[type=text] {
    width:100%;
    margin:10% 0;
    padding:12px 20px;
    }
    
    .container,.list {
    display:flex;
    width:50%;
    justify-content:center;
    margin:0 auto;
    }
    
    .controls button {
    outline:none;
    background-color:#ef6968;
    transition:all .2s;
    border:none;
    color:#fff;
    border-radius:25px;
    text-transform:uppercase;
    margin-bottom:10px;
    padding:12px;
    }
    
    .controls button:hover {
    background-color:#ed5858;
    cursor:pointer;
    }
    
    ul {
    width:100%;
    list-style:none;
    overflow:visible;
    padding:5% 0;
    }
    
    ul li {
    border:1px solid #000;
    font-size:120%;
    font-weight:400;
    box-shadow:0 -.1px 0;
    }
    
    ul li:nth-child(odd) {
    border-bottom:none;
    }
    
    ul li:last-child {
    border-bottom:1px solid #000!important;
    }
    
    li input[type=checkbox] {
    height:20px;
    width:20px;
    cursor:pointer;
    margin:10px;
    }
    
    li input[type=checkbox]:checked + span {
    transition:all .2s;
    text-decoration:line-through;
    color:rgba(0,0,0,0.3);
    }
    
    label {
    max-width:60px;
    word-wrap:normal;
    word-break:break-all;
    }
    
    @media only screen and(max-width: 600px) {
    #main {
    width:85%;
    font-size:small;
    }
    }